ul {
  list-style-type: "- ";
}

li {
  margin-top: 1em;
}

.intro {
  text-shadow: 0 0 1px #cccccc, 0 0 3px #bbbbbb;
}

img {
  width: 50px;
}

.head {
  overflow: auto;
}

span.glow-green a {
  color: #3ddc97;
  text-shadow: 0 0 1px #3ddc97, 0 0 3px #3ddc97;
  text-decoration: none;
}

span.glow-blue a {
  color: #87f1ff;
  text-shadow: 0 0 1px #87f1ff, 0 0 3px #87f1ff;
  text-decoration: none;
}

span.glow-darkblue a {
  color: #87cfff;
  text-shadow: 0 0 1px #87f1ff, 0 0 3px #87f1ff;
  text-decoration: none;
}

span.glow-yellow a {
  color: #ffd23f;
  text-shadow: 0 0 1px #ffd23f, 0 0 3px #ffd23f;
  text-decoration: none;
}

span.glow-brown a {
  color: #d8a149;
  text-shadow: 0 0 1px #91662a, 0 0 3px #91662a;
  text-decoration: none;
}

span a:hover {
  color: #87f1ff;
}

span.glow-pink {
  color: #ee4266;
  text-shadow: 0 0 1px #ee4266, 0 0 3px #ee4266;
}

span.glow-white {
  text-shadow: 0 0 1px #cccccc, 0 0 3px #bbbbbb;
}

.desc {
  margin-top: 2em;
}

.desc a {
  color: #dddddd;
  text-decoration: none;
}

.links a {
  text-decoration: none;
  color: #aaaaaa;
}

/* visited link */
a.links:visited {
  color: #aaaaaa;
}

/* mouse over link */
a:hover {
  color: #87f1ff;
}
