ul {
  list-style-type: '- ';
}

li {
  margin-top: 1em;
}

.intro {
  text-shadow: 0 0 1px #CCCCCC, 0 0 3px #BBBBBB;
}

.head {
  overflow: auto;
}

span.glow-green a {
  color: #3DDC97;
  text-shadow: 0 0 1px #3DDC97, 0 0 3px #3DDC97;
  text-decoration: none;
}

span.glow-blue a {
  color: #87F1FF;
  text-shadow: 0 0 1px #87F1FF, 0 0 3px #87F1FF;
  text-decoration: none;
}

span.glow-darkblue a {
  color: #87cfff;
  text-shadow: 0 0 1px #87F1FF, 0 0 3px #87F1FF;
  text-decoration: none;
}

span.glow-yellow a {
  color: #FFD23F;
  text-shadow: 0 0 1px #FFD23F, 0 0 3px #FFD23F;
  text-decoration: none;
}

span.glow-brown a {
  color: #d8a149;
  text-shadow: 0 0 1px #91662a, 0 0 3px #91662a;
  text-decoration: none;
}


span a:hover {
  color: #87F1FF;
}

span.glow-pink {
  color: #EE4266;
  text-shadow: 0 0 1px #EE4266, 0 0 3px #EE4266;
}

span.glow-white {
  text-shadow: 0 0 1px #CCCCCC, 0 0 3px #BBBBBB;
}

.desc {
  margin-top: 2em;
}

.desc a {
  color: #DDDDDD;
  text-decoration: none;
}

.links a {
  text-decoration: none;
  color: #AAAAAA;
}

/* visited link */
a.links:visited {
  color: #AAAAAA;
}

/* mouse over link */
a:hover {
  color: #87F1FF;
}
