.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  margin: 6em 20%;
}

body {
  overflow-x: hidden;
}

#gradient-canvas {
  position: absolute;
  transform: translateY(-115.5%);
  --gradient-color-1: #a960ee;
  --gradient-color-2: #ff333d;
  --gradient-color-3: #90e0ff;
  --gradient-color-4: #ffcb57;
}
