.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  margin: 6em 20%;
}

body {
  overflow-x: hidden;
}

#gradient-canvas {
  position: absolute;
  transform: translateY(-115.5%);
  --gradient-color-1: #6ec3f4;
  --gradient-color-2: #3a3aff;
  --gradient-color-3: #ff61ab;
  --gradient-color-4: #E63946;
}
